/* Estilos Gerais */
body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

.logo {
  margin-bottom: 10px;
  text-align: center;
  margin-right: 45px;
  border-radius: 50px;
}

.fundo {
  background-size: cover;
  background-position: center;
  opacity: 1;
  width: 100%;
  height: 100vh;
  animation: fadeIn 2s ease-in-out forwards;
}

.horario {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  padding: 20px 0;
  animation: slideIn 1s ease-in-out;
}

.text-center {
  text-align: center;
  font-weight: 800;
  font-size: 24px;
}

.img-fluid {
  padding-top: 15px;
  width: 100%;
}

.separador {
  border: 1px solid black;
  width: 20%;
  margin: 10px;
}

.texto {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}

/* Animações */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Header */
header {
  padding: 10px 20px; /* Ajuste para melhor espaçamento */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  width: 100%;
}

header img.logo {
  max-width: 100%;
  height: auto;
}

header a.rotas {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: color 0.5s ease;
}

header a.rotas:hover {
  color: rgb(103, 2, 2);
}

.menu {
  display: contents;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin: 10px;
}

/* Footer */
footer {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  background-color: rgb(16, 16, 16);
  width: 100%;
  color: white;
  text-align: center;
}

.endereco {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.endereco p {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}

/* Responsividade */
@media (max-width: 768px) {
  header {
    flex-direction: row; /* Mantém o logo e o toggle na mesma linha */
    justify-content: space-between; /* Espaço entre os elementos */
    align-items: center;
  }
  .fundo {
    background-size: contain;
    height: 200px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }
 

.logo-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
}

.menu.show {
    display: flex;
}

.menu-toggle {
    display: block;
}

  footer {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .fundo {
    background-size: contain;
    height: 200px;
  }
}


