{% load static %}
<footer>
    <div class="container d-flex justify-content-between  align-items-center">
      <img class="logo" width="200px"  src="{% static 'logo.jpg' %}" alt="logo">  
      <div class="horario-footer">
       <h2>NOSSOS HORARIOS</h2>
         <p>CULTO DA MANHA DOMINGO - 09h</p>
         <p>CULTO DA NOITE DOMINGO - 18:30h</p>
         <p>CULTO DE CONSAGRAÇÃO PELA MANHA TERÇA - 08h</p>
         <p>CULTO DA NOITE TERÇA - 19:30h</p>
     </div>
      <div class="endereco">
        <h2 class="titulo">CONTATO</h2>
         <p class="text-center">TV. MINEIRA 21 - JARDIM LARANJEIRA, NOVA IGUAÇU - RJ, 26291-075</p>
         <p class="text-center">(21) 99999-8888</p>
         <p class="text-center">42.987.654/0001-66</p>
         <p>
           <a href="#">
             <img class="whatsapp" width="35px" src="{% static 'whatsapp.png' %}" alt="whatsapp">
           </a>
           Mande uma mensagem e receba nossas
           informações.</p>
     </div>
     
   </div>
 </footer>
 <div class="copyright text-center " style="background-color: black; color: white; width: 100%; height: 100%; font-size: 12px;" >
    Copyright © 2024.<br> 
Todos os direitos reservados a CCRF
</div>