{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="shortcut icon" href="{% static 'logo-novo.jpg' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'logo-novo.jpg' %}" type="image/x-icon">
    <title>Home</title>
</head>
<body>
    {% include 'header.html' %}
    <main class="fundo">
        <div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
          <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="fundo" src="{% static 'fundo.jpg' %}" alt="fundo">
            </div>
            <div class="carousel-item">
              <img class="fundo" src="{% static 'capa.jpg' %}" alt="fundo">
            </div>
          </div>
          <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
        </div>
      </main>
      
      
      <aside>
        {% for mensagem in mensagens %}
          <div class="container" >
              <h2 class="text-center">{{mensagem.capitulo}}</h2>
              <p class="versiculo">{{mensagem.versiculo}}</p>
          </div>
          {% endfor %}
      </aside>
      
      <div class="relogio d-flex flex-column animate__animated animate__fadeIn">
          <div class="horario">
              <img width="150px" class="text-center" src="{% static 'relogio.png' %}" alt="relogio" >
              <h2>NOSSOS HORARIOS</h2>
                <p>CULTO DA MANHA DOMINGO - 09h</p>
                <p>CULTO DA NOITE DOMINGO - 18:30h</p>
                <p>CULTO DE CONSAGRAÇÃO PELA MANHA TERÇA - 08h</p>
                <p>CULTO DA NOITE TERÇA - 19:30h</p>
            </div>
      </div>
      
      <div class="d-flex justify-content-center">
          <div class="pastores fade-in">
              <div class="card mb-3" style="max-width: 1500px;">
                  <div class="row g-0">
                      <div class="col-md-4">
                          <img src="{% static 'pastores.jpg' %}" class="img-fluid rounded-start" alt="pastores">
                      </div>
                      <div class="col-md-8">
                          <div class="card-body">
                              <h3 class="card-title">Conheça nossos Pastores</h3>
                              <a href="https://www.instagram.com/alebarros1702/">
                                  <button class="btn btn-dark">
                                      INSTAGRAM DO PASTOR
                                  </button>
                              </a>
                              <div class="separador"></div>
                              <a href="https://www.instagram.com/shirleylacerda786/">
                                  <button class="btn btn-dark">
                                      INSTAGRAM DA PASTORA
                                  </button>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="container">
        <h3>Quem crê e for batizado será salvo.</h3>
        <div class="separador"></div>
        <div class="d-flex ">
          {% for batismo in batismos %}
          <a href="{{ batismo.imagem.url }}" data-lightbox="mygallery">
            <img width="350px" class="img-thumbnail" src="{{ batismo.imagem.url }}" alt="batizado">      
          </a>
          {% endfor %}
        </div>
      </div>
      
      {% include 'footer.html' %}
      
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>